@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

@layer base {
  @font-face {
    font-family: "Butler Black";
    font-weight: 400;
    src: url("../../public/fonts/Butler-Black.woff") format("woff");
  }
  h1 {
    @apply text-8xl;
    @apply font-serif;
  }
  h2 {
    @apply text-5xl;
    @apply font-serif;
  }
  h3 {
    @apply text-3xl;
    @apply font-serif;
  }
  h5 {
    @apply text-base;
    @apply font-mono;
    @apply tracking-widest;
    @apply text-gray;
  }
}

@keyframes fadeIn {
    0% {display:none; opacity:0;}
    1% {display:block; opacity:0;}
    100% {display:block; opacity:1;}
  }
@keyframes fadeOut {
  0% {display:block; opacity:1;}
  1% {display:block; opacity:1;}
  90% {display: block; opacity:0.9;}
  100% {display: none; opacity:0;}
}


