@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Butler Bold";
    src: url("../../static/Butler-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Butler Black";
    src: url("../../static/Butler-Black.woff") format("woff");
  }
  /* Adobe Fonts */
  @font-face {
    font-family: "frank-new", sans-serif;
  }

  body {
    @apply bg-background;
    @apply transition duration-300;
    @apply text-grayBlack;
    @apply text-lg;
  }
  h1 {
    @apply font-serif;
    @apply text-5xl;
    @apply py-8;
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  h2 {
    @apply font-serif;
    @apply text-3xl;
    @apply py-6;
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  h3 {
    @apply font-sans;
    @apply text-4xl;
    @apply font-bold;
    @apply py-4;
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  h5 { 
    @apply font-mono;
    @apply text-base;
    @apply tracking-widest;
    @apply text-gray;
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  p {
    @apply font-sans;
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  a {
    @apply text-black dark:text-text_dark;
    @apply transition duration-300;
  }
  p a {
    @apply border-b-2;
  }
  p a:hover {
    @apply border-white;
  }
}
/* Body Dark Mode */
.dark {background-color: #24251f;}

/* Browser Selection Color */
::-moz-selection { background: #b55324; color:#d2c69e; }
::selection { background: #b55324; color: #d2c69e; }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:1;}
}

/* Paragraphs */
.body_container > div p {
  padding: 1% 0;
}



/* Dark Mode Animation */
.toggle {
  --size: 2rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  box-shadow: inset 0 0 0 var(--size) transparent, calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size) black, var(--offset-orthogonal) 0 0 var(--ray-size) black, 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size) black, 0 var(--offset-orthogonal) 0 var(--ray-size) black, calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size) black, var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size) black, calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size) black, var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size) black;
  border-radius: 999px;
  transition: all 500ms;
}
.toggle:checked {
  box-shadow: inset calc(var(--size) * 0.26) calc(var(--size) * -0.15) 0;
  transform: scale(1.1);
}

.blend {
  mix-blend-mode: multiply;
}