@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-very-light-gray);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  /* empty */
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }

  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}






.post_list_link .category_badge {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #333333;
  margin: 1.25rem 2rem 0.2rem 2rem ;
  width: 4rem;
  height: 1px;
  opacity: 0.5;
  position: relative;
    top: 15px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

.post_list_link:hover .category_badge {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  
}

